option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start:prod"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_build:
    command: "npm run build"
    cwd: /var/app/staging
